.container {
  border: 1px solid #ccc;
  margin: 25px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  width: 60%;
  max-width: 800px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.workItem {
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.workItem h2 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.details {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 8px;
  margin-top: 10px;
}

.details p {
  margin: 10px 0;
  font-size: 16px;
  color: #555;
  word-wrap: break-word;
}

.details h3 {
  font-size: 16px;
  color: #555;
  margin-bottom: 5px;
}

.description {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin: 10px 0;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #555;
}

.titleRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleRow h2 {
  word-wrap: break-word;
}

.h {
  font-size: larger;
  margin-left: 20%;
  margin-top: 10px;
}

.btn {
  display: inline-block;
  font-weight: 500;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: #dc3545;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #c82333;
}

.btnu {
  display: inline-block;
  font-weight: 500;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btnu:hover {
  background-color: #0069d9;
}

.btns {
  display: inline-block;
  font-weight: 500;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: #28a745;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btns:hover {
  background-color: #218838;
}
